ftfy
ipython
lpips
matplotlib
matplotlib-inline
numpy
nvitop
omegaconf
opencv-python-headless
pandas
Pillow
pytorch-fid
regex
requests
scikit-learn
scikit-image
scipy
submitit
termcolor
torch
torchmetrics
torchvision
tqdm
